* {
    padding: 0;
    margin: 0;
}
body {
    background-color:grey;
    overflow: hidden;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagemFundo {
    width: 100vw;
    height: 100vh;
    position: relative;
    animation: fundoDark 7s ease 1s forwards;
}

.logo {
  position: absolute;
  width: 400px;
  animation: logoFade 3s ease-out 1s forwards;

}

@keyframes fundoDark {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes logoFade {
  0% {
    bottom: 0;
    opacity: 0;
  }

  50% {
    bottom: 30%;
    opacity: 0.5;
  }

  75% {
    bottom: 39%;
    opacity: 0.7;
  }

  100% {
    bottom: initial;
    opacity: 1;
  }
}
/* animation-fill-mode: forwards; */
